* {
margin: 0;
padding: 0;
font-family: "Biryani";
color: #363636;
}

body {
  background-color: #F5F5F5
}

main {
  position: relative;
  left: 80px;
  height: 700px;
}

.overview {
  position: relative;
  display: inline-block;
  width: 45%;
  margin-left: 40px;
}

.accountsBanner {
  display: inline-block;
  width: 100%;
}

.accountsTitle {
  display: inline-block;
  margin-bottom: 10px;
}

.titleButton {
  display: inline-block;
  font-size: 70%;
  color: white;
  right: 0;
  position: absolute;
  padding: 6px 20px 5px 20px;
  background-color: #1CA3BA;
  border-radius: 200px;
  margin-top: 8px;
}

.accountsContainer {
  position: absolute;
  display: inline-block;
  margin-top: 30px;
  width: 100%;
}

.accounts {
}

.account1 {
  background-color: white;
  border-radius: 3px;
  margin-bottom: 10px;
}

.account2 {
  background-color: white;
  border-radius: 3px;
  margin-bottom: 10px;
}

.account3 {
  background-color: white;
  border-radius: 3px;
  margin-bottom: 10px;
}

.account4 {
  background-color: white;
  border-radius: 3px;
  margin-bottom: 0px;
}

.accountType {
  left: 390px;
  position: absolute;
  padding: 15px;
}

.accountName {
  left: 120px;
  position: absolute;
  padding: 15px;
}

.creditIcon {
  padding: 10px;
  margin-bottom: -10px;
}

.savingsIcon {
  padding: 10px;
  margin-bottom: -10px;
}

.checkingIcon {
  padding: 10px;
  margin-bottom: -10px;
}

.atAGlance {
  position: relative;
}

.incomeText {
  font-size: 60%;
  margin-left: 10px;
}

.incomeNum {
  display: block;
  margin-left: 10px;
  margin-top: 8px;
}
.expenseText {
  font-size: 60%;
  margin-left: 10px;
}

.expenseNum {
  display: block;
  margin-left: 10px;
  margin-top: 8px;

}
.creditScoreText {
  font-size: 60%;
  margin-left: 10px;
}

.creditScoreNum {
  display: block;
  margin-left: 10px;
  margin-top: 8px;

}

.incomeBox {
  display: inline-block;
  background-color: white;
  width: 160px;
  height: 90px;
  border-radius: 3px;
}

.expenseBox {
  display: inline-block;
  position: absolute;
  width: 160px;
  height: 90px;
  margin-left: 80px;
  background-color: white;
  border-radius: 3px;
}

.creditScoreBox {
  display: inline-block;
  position: absolute;
  background-color: white;
  width: 160px;
  height: 90px;
  right: 0;
  border-radius: 3px;

}

.banner {
  border-radius: 3px;
  background: linear-gradient(to right, #8ED1DC, #E3F4F6);
  position: relative;
  height: 100px;
  margin-bottom: 20px;
}

.welcomeText {
  position: absolute;
  top: 5px;
  margin: 30px;
  font-size: 110%;
}

.closeIcon {
  width: 15px;
  position: absolute;
  top: 0;
  right: 0;
  padding: 15px;
}

.creditIcon {
  width: 40px;
}

.savingsIcon {
  width: 40px;
}
.checkingIcon {
  width: 40px;
}

nav {
  position: fixed;
  height: 100%;
  width: 80px;
  background-color: white;
}

.mainIcon {
  width: 80px;
  margin-top: 20px;
}

.navButtons {
  position: relative;
  margin-top: 200px;
}

.profileIcon {
  display: block;
  padding: 10px 20px;
}

.dashIcon {
  display: block;
  padding: 10px 20px;
}

.transIcon {
  display: block;
  padding: 10px 20px;
}

.transactions {
  width: 32%;
  display: inline-block;
  position: absolute;
  background-color: white;
  margin-left: 60px;
  padding: 25px;
}

.outflow {
  left: 360px;
  position: absolute;
}
.outflowTitle {
  left: 350px;
  position: absolute;
}

hr {
  margin: 5px 0px 5px 0px;
}

.inflow {
  left: 280px;
  position: absolute;
}
.inflowTitle {
  left: 280px;
  position: absolute;
}

.payee {
  position: absolute;
  left: 140px;
}
.payeeTitle {
  position: absolute;
  left: 140px;
}

.transTitleCtrl {
  font-size: 130%;
}

.transButton {
  top: 15px;
  right: 20px;
}

h1 {
  margin: 0px;
  padding: 40px;
  padding-bottom: 30px;
}

.accountName {
  display: inline;
}

.accountType {
  display: inline;
}
