* {
margin: 0;
padding: 0;
font-family: "Biryani";
color: #363636;
}

body {
  background-color: #F5F5F5;
}

.dashPage {
  position: relative;
  left: 80px;
  height: 700px;
  width: 1360px;
}

.dashSection {
  position: relative;
  display: inline-block;
  width: 49%;
  margin-left: 40px;
}

.accountsBanner {
  display: inline-block;
  width: 100%;
}

.accountsTitle {
  display: inline-block;
  margin-bottom: 10px;
}

.titleButton {
  display: inline-block;
  font-size: 70%;
  color: white;
  right: 0;
  position: absolute;
  padding: 6px 20px 5px 20px;
  background-color: #1CA3BA;
  border-radius: 200px;
  margin-top: 8px;
  box-shadow: -2px 0px 7px 3px rgba(0,0,0,0.05);
}

.accountsContainer {
  position: absolute;
  display: inline-block;
  margin-top: 30px;
  width: 100%;
}

.account1,
.account2,
.account3,
.account4 {
  background-color: white;
  border-radius: 3px;
  margin-bottom: 10px;
  box-shadow: -2px 0px 7px 3px rgba(0,0,0,0.05);

}

.accountType {
  left: 520px;
  position: absolute;
  padding: 15px;
}

.accountName {
  left: 190px;
  position: absolute;
  padding: 15px;
}

.creditIcon,
.savingsIcon,
.checkingIcon {
  padding: 10px;
  margin-bottom: -10px;
  margin-left: 10px;
}

.atAGlance {
  position: relative;
}

.incomeText,
.expenseText,
.creditScoreText {
  font-size: 65%;
  margin-left: 10px;
}

.incomeNum,
.expenseNum,
.creditScoreNum {
  display: block;
  margin-left: 10px;
  margin-top: 8px;
  font-size: 120%;
}

.incomeBox {
  display: inline-block;
  background-color: white;
  width: 30%;
  height: 100px;
  margin-right: 4%;
  border-radius: 3px;
  box-shadow: -2px 0px 7px 3px rgba(0,0,0,0.05);
}

.expenseBox {
  display: inline-block;
  width: 30%;
  height: 100px;
  background-color: white;
  border-radius: 3px;
  box-shadow: -2px 0px 7px 3px rgba(0,0,0,0.05);
}

.creditScoreBox {
  display: inline-block;
  background-color: white;
  margin-left: 4%;
  width: 30%;
  height: 100px;
  border-radius: 3px;
  box-shadow: -2px 0px 7px 3px rgba(0,0,0,0.05);
}

.banner {
  border-radius: 3px;
  background: linear-gradient(to right, #8ED1DC, #E3F4F6);
  position: relative;
  height: 100px;
  margin-bottom: 20px;
  box-shadow: -2px 0px 7px 3px rgba(0,0,0,0.05);
}

.welcomeText {
  position: absolute;
  top: 5px;
  margin: 30px;
  font-size: 110%;
}

.closeAction {
  width: 15px;
  position: absolute;
  top: 0;
  right: 0;
  padding: 15px;
}

.creditIcon,
.savingsIcon,
.checkingIcon {
  width: 40px;
}

nav {
  position: fixed;
  height: 100%;
  width: 80px;
  background-color: white;
  box-shadow: -2px 0px 7px 3px rgba(0,0,0,0.05);

}

.mainIcon {
  width: 80px;
  height: 80px;
  margin-top: 20px;
}

.navButtons {
  position: relative;
  margin-top: 200px;
}

.transactions {
  width: 33%;
  display: inline-block;
  position: absolute;
  background-color: white;
  margin-left: 60px;
  padding: 25px;
  box-shadow: -2px 0px 7px 3px rgba(0,0,0,0.05);
}

.profileIcon,
.transIcon,
.dashIcon {
  display: block;
  padding: 10px 19px 10px 10px;
  border-left: 5px;
  border-left-style: solid;
  border-left-color: white;
}

.transIconClicked,
.profileIconClicked,
.dashIconClicked {
  display: block;
  padding: 10px 19px 10px 10px;
  border-left: 5px;
  border-left-style: solid;
  border-left-color: #1CA3BA;
}

.outflow,
.outflowTitle {
  left: 360px;
  position: absolute;
}

hr {
  margin: 5px 0px 5px 0px;
}


.inflow,
.inflowTitle {
  left: 280px;
  position: absolute;
}

.payee,
.payeeTitle {
  position: absolute;
  left: 140px;
}

.transTitleCtrl {
  font-size: 130%;
  margin-bottom: 10px;
}

.transButton {
  top: 15px;
  right: 20px;
}

h1 {
  margin: 0px;
  padding: 40px;
  padding-bottom: 30px;
}

.accountName,
.accountType {
  display: inline;
}
